{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "master"
        }
    },
    "minMsi": 30.34,
    "minCoveredMsi": 100.00
}
